.projects {
    background-color: #f9f9f9;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .projects ul {
    list-style-type: none;
    padding: 0;
  }
  
  .projects li {
    margin-bottom: 10px;
  }
  