@media screen (max-width:375px){
    
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Space Mono', sans-serif;
}

body{
    font-size: 12px;
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(185, 41%, 84%);
    gap: 16px;
    height: 950px;
    width: 250px;
}



main{
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
    width: 370px;
    padding: 10px;
    height:830px;
    margin-left:125px;
}

.main__left p,
label{
    color: gray;
    font-size: 12px;
}

.main__left p{
    margin-top:20px;
}

.main__left,
.main__right{
    display: flex;
    flex-direction: column;
}

.main__left{

    height: 380px;
    width: 370px;

}


main .main__left input{
    margin-top: 5px;
    text-align: end;
    border: transparent;
    background: hsl(189, 41%, 97%);
    padding: 8px 6px;
    cursor: pointer;
}


main .main__left input:focus{
    border: 1px solid hsl(172, 67%, 45%);
}


.bill,
.number__people
{
    display: flex;
    position: relative;
    width:350px;
}

.number__people input{
    flex :1;
    color:  hsl(183, 100%, 15%);
    width: 300px;
   
}

.bill{
    width: 350px;
    margin-right: 0px;
}

.bill input{
    width:350px;
}

.number__of__people{
    margin-top: 45px;
    width: 300px;
    margin-right: 0px;
}

.bill img,
.number__people img{
    width: 12px;
    position: absolute;
    top: 15px;
    left: 16px;
}



main .main__tips .buttons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 5px;
    height:50px;
    width: 370px;
    margin-left: 25px;
   
 
}

main .main__tips p{
    margin-bottom: 8px;
}

.button{
    background-color: hsl(183, 100%, 15%);
    color:hsl(0, 0%, 100%);
    border: none;
    padding: 10px;
    width: 50%;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 20px;
}


.button:hover{
    background-color: hsl(172, 67%, 45%);
    color: hsl(183, 100%, 15%);
}

.button.active{
    background-color: hsl(172, 67%, 45%);
    color: hsl(183, 100%, 15%);
}


main .main__tips input{
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
}


main .main__left .section__people p{
    font-size: 13px;
}

main .main__left .section__people .number__of__people{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.main__right{
    gap: 48px;
    padding: 32px;
    background-color: hsl(183, 100%, 15%);
    border-radius: 10px;
    height: 360px;
    margin-top: 20px;
}


main .tip__amount,
main .total__person{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tip_person{
    font-size: 12px;
    color: hsl(0, 0%, 100%);
}
.person{
    color: hsl(0, 0%, 100%);
    font-size: 10px;
    opacity: 0.7;
}

.tip_total{
    display: flex;
    align-items: center;
    position: relative;
    font-size : 12px;
    color:  hsl(172, 67%, 45%);
}


.main__right .button-reset{
    cursor: pointer;
    letter-spacing: 3px;
    text-transform: uppercase;
    padding: 8px;
    border: none;
    border-radius: 10px;
    margin-top: 32px;
}

.has-reset-activated{
    background-color: hsl(172, 67%, 45%);
    color: hsl(183, 100%, 15%);
}

.section__people{
    margin-top: -20px;
}

.button__calculate{
    height:50px;
    margin-top: 40px;
    margin-left: 130px;
    background-color: hsl(183, 100%, 15%);
    color: hsl(0, 0%, 100%);
    border: none;
    padding: 10px;
    width: 100px;
    border-radius: 8px;
    cursor: pointer;
}

.button__calculate:hover{
    background-color: hsl(172, 67%, 45%);
    color:  hsl(183, 100%, 15%);
}

.button__calculate.active{
    background-color: hsl(172, 67%, 45%);
    color: hsl(183, 100%, 15%);
}
