.theme {
  font-size: 17px;
  text-align: right;
  font-weight: bold;
  display: "flex";
  justify-content: space-between;
  border: none;
  padding: 10px;
  background-color: hsl(0, 0%, 98%);
  align-content: center;
  border-radius: 5px;
}
