.picture {
  top: 32px;
  left: 437px;
  width: 372px;
  height: 236px;
  border-radius: 10px 10px 0px 0px;
  background: transparent 0% 0% padding-box;
  background-repeat: no-repeat;
}

.header p {
  top: 299px;
  left: 474px;
  width: 54px;
  height: 11px;
  text-align: left;
  font: normal normal bold 11px/13px Gotham;
  letter-spacing: 2.2px;
  color: #33439b;
  margin-top: 31px;
  margin-left: 37px;
  margin-right: 281px;
  margin-bottom: 19px;
}

.title {
  top: 329px;
  left: 474px;
  width: 257px;
  height: 28px;
  text-align: left;
  font: normal normal bold 28px/34px Gotham;
  letter-spacing: 0px;
  color: #303336;
  margin-left: 37px;
  margin-right: 78px;
  margin-bottom: 20px;
}

.text {
  top: 377px;
  left: 474px;
  width: 291px;
  height: 88px;
  text-align: left;
  font: normal normal normal 16px/22px Gotham;
  letter-spacing: 0px;
  color: #7b8591;
  margin-top: 20px;
  margin-left: 37px;
  margin-right: 44px;
  margin-bottom: 38px;
}

.main {
  top: 32px;
  left: 437px;
  width: 372px;
  height: 471px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 10px;
}
