.header {
  background: #3ca773 0% 0% no-repeat padding-box;
  border-radius: 10px 10px 0px 0px;
  top: 32px;
  left: 49px;
  width: 372px;
  height: 55px;
}

.header p {
  font: normal normal bold 18px/22px Gotham;
  letter-spacing: 0.9px;
  color: #ffffff;
  display: block;
  width: 302px;
  margin-top: 19px;
  margin-left: 115px;
  margin-right: 122px;
  margin-bottom: 18px;
  padding-top: 19px;
  padding-left: 15px;
  padding-right: 20px;
  padding-bottom: 18px;
}

.first_paragraph {
  margin-top: 20px;
  margin-left: 50px;
  width: 268px;
  height: 250px;
  top: 149px;
  left: 142px;
  border-bottom: 1px solid #7b8591;
}

.number {
  background: #d9a34a 0% 0% no-repeat padding-box;
  width: 39px;
  height: 39px;
  margin-top: 40px;
  margin-left: 110px;
  margin-right: 89px;
  margin-bottom: 20px;
  text-align: left;
  font: normal normal;
  letter-spacing: 0px;
  color: #ffffff;
  font-weight: bold;
  border: 24px;
  border-radius: 50%;
  text-align: center;
}

.number p {
  padding-top: 10px;
  font-family: Gotham;
}

.technology {
  font: 18px/22px;
  font-family: Gotham;
  font-size: medium;
  text-align: center;
  color: #303336;
  letter-spacing: -0.18px;
  width: 90px;
  height: 18px;
  margin-top: 20px;
  margin-left: 89px;
  margin-right: 89px;
  margin-bottom: 20px;
}

.text {
  text-align: center;
  font: normal normal normal 16px/20px Gotham;
  letter-spacing: 0px;
  color: #7b8591;
  width: 268px;
  height: 62px;
}

.second_paragraph {
  width: 268px;
  height: 250px;
  top: 361px;
  left: 142px;
  border-bottom: 1px solid #7b8591;
  margin-left: 50px;
}

.second {
  top: 361px;
  left: 216px;
  width: 39px;
  height: 39px;
  background: #007ac2 0% 0% no-repeat padding-box;
  border: 24px;
  border-radius: 50%;
  text-align: center;
  margin-top: 40px;
  margin-left: 120px;
  margin-right: 89px;
  margin-bottom: 20px;
}

.second p {
  padding-top: 7px;
  font: normal normal bold 20px/24px Gotham;
  letter-spacing: 0px;
  color: #ffffff;
}

.nature {
  font: 18px/22px;
  font-family: Gotham;
  font-size: medium;
  text-align: center;
  color: #303336;
  letter-spacing: -0.18px;
  width: 90px;
  height: 18px;
  margin-top: 20px;
  margin-left: 100px;
  margin-right: 107px;
  margin-bottom: 20px;
}

.txt {
  text-align: center;
  font: normal normal normal 16px/20px Gotham;
  letter-spacing: 0px;
  color: #7b8591;
  margin-top: 20px;
  margin-right: 107px;
  margin-bottom: 74px;
  width: 268px;
}

.third-paragraph {
  width: 268px;
  height: 250px;
  top: 361px;
  left: 142px;
  border-bottom: 1px solid #7b8591;
  margin-left: 50px;
}

.third {
  top: 577px;
  left: 216px;
  width: 39px;
  height: 39px;
  background: #3ca773 0% 0% no-repeat padding-box;
  border: 24px;
  border-radius: 50%;
  text-align: center;
  margin-top: 40px;
  margin-left: 120px;
  margin-right: 89px;
  margin-bottom: 20px;
}

.third p {
  font: normal normal bold 20px/24px Gotham;
  letter-spacing: 0px;
  color: #ffffff;
  padding-top: 7px;
}

.design {
  text-align: center;
  font: 18px/22px;
  font-family: Gotham;
  font-size: medium;
  letter-spacing: -0.18px;
  color: #303336;
  width: 56px;
  height: 18px;
  margin-top: 20px;
  margin-left: 110px;
  margin-right: 107px;
  margin-bottom: 20px;
}

.tx {
  text-align: center;
  font: normal normal normal 16px/20px Gotham;
  letter-spacing: 0px;
  color: #7b8591;
  margin-top: 20px;
  margin-right: 107px;
  margin-bottom: 150px;
  width: 268px;
}

.fourth_paragraf {
  width: 268px;
  height: 250px;
  top: 361px;
  left: 142px;
  border-bottom: 1px solid #7b8591;
  margin-left: 50px;
}

.fourth {
  top: 789px;
  left: 216px;
  width: 39px;
  height: 39px;
  background: #53bbb3 0% 0% no-repeat padding-box;
  border: 24px;
  border-radius: 50%;
  text-align: center;
  margin-top: 40px;
  margin-left: 120px;
  margin-right: 89px;
  margin-bottom: 20px;
}

.fourth p {
  font: normal normal bold 20px/24px Gotham;
  letter-spacing: 0px;
  color: #ffffff;
  padding-top: 7px;
}

.development {
  text-align: center;
  font: 18px/22px;
  font-family: Gotham;
  font-size: medium;
  letter-spacing: -0.18px;
  color: #303336;
  width: 56px;
  height: 18px;
  margin-top: 20px;
  margin-left: 95px;
  margin-right: 107px;
  margin-bottom: 20px;
}

.t {
  text-align: center;
  font: normal normal normal 16px/20px Gotham;
  letter-spacing: 0px;
  color: #7b8591;
  margin-top: 20px;
  margin-right: 107px;
  margin-bottom: 150px;
  width: 268px;
}
